{% extends "network/layout.html" %}

{% load static %}

{% block body %}

<div id="page" class="border border-rounded">
    <h1 id="title_of_page" align="left">Following</h1>
    
    {% if page_obj %}
        {% for post in page_obj %}
            <div id="post" class="border-top">
                {% if post.user.profile_picture %}
                    <img class="rounded-circle" id="propic" src="{{ post.user.profile_picture }}">
                {% endif %}
                <strong id="username"><a style="color: black; text-docoration: none;" href="{% url 'user' post.user.id %}">{{ post.user.username }}</a> &middot; {{ post.date_created|date:"f A · M j, Y" }}</strong><br>
                <h3>{{ post.post_body }}</h3>
                {% if request.user in post.post_reactions.all %}
                    <div>
                        <h2 style="color: red; display: inline;">&#9829;</h2>
                        <h4 id="like_count" style="font-size: 28px; display: inline;">{{ post.post_reactions.count }}</h4>
                        <button style="display: inline; color: white;" class="btn btn-light btn-sm" id="unlike_post" data-unlike="{{ post.id }}" type="submit" value="unlike">Unlike</button><br>
                    </div>
                {% else %}
                    <div>
                        <h2 style="color: grey; display: inline;">&#9829;</h2>
                        <h4 id="like_count" style="font-size: 28px; display: inline;">{{ post.post_reactions.count }}</h4>
                        <button style="display: inline; color: white;" class="btn btn-light btn-sm" id="like_post" data-like="{{ post.id }}" type="submit" value="Like">Like</button><br>
                    </div>
                {% endif %}
            </div>
        {% endfor %}
    {% else %} 
        <div id="post" class="border-top">
            <h3>You are not following any users...</h3>
        </div>
    {% endif %}

</div>

    <div id="pagination">
        <nav aria-label="Page navigation example">
            <span class="step-links">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                        <li class="page-item"><a style="background-color: white; color: #00BFFF;" class="page-link" href="?page=1">&laquo; First</a></li>
                        <li class="page-item"><a style="background-color: white; color: #00BFFF;" class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                    {% endif %}
                    
                    <span class="current">
                    <li class="page-item" aria-current="page">
                        <a style="background-color: #00BFFF; color: white;" class="page-link" href="#">{{ page_obj.number }}<span class="sr-only">(current)</span></a>
                    </li>
                    </span>

                    {% if page_obj.has_next %}
                        <li class="page-item"><a style="background-color: white; color: #00BFFF;" class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
                        <li class="page-item"><a style="background-color: white; color: #00BFFF;" class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
                    {% endif %}
                </ul>
            </span>
        </nav>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'network/posts.js' %}"></script>
{% endblock %}
